div {
    color:black;
    background-color: white;
}

div .heading {
    color:black;
    background-color: yellow;
}

.recipeName {
    color:cadetblue;
    font-family: sans-serif;
}

.heading {
    text-align:center;
}